# Build
**/node_modules/
**/cache/
**/dist/
pnpm-lock.yaml

**/target/
Cargo.toml
Cargo.lock
rustfmt.toml

## Test
**/tests/.tmp/
**/coverage/

# Rust
app/src-tauri/

crates/embroiderly-*/
crates/xsp-parsers/
