# To build Embroiderly locally, generate a dummy key for updater: https://tauri.app/plugin/updater/#signing-updates.
TAURI_SIGNING_PRIVATE_KEY=
TAURI_SIGNING_PRIVATE_KEY_PASSWORD=

# Optional API keys for external services.
# If missed, the corresponding service clients will be silently disabled.
EMBROIDERLY_SENTRY_DSN=
EMBROIDERLY_POSTHOG_API_KEY=
