body {
  color: var(--text-color-default);
  background-color: var(--background-color-default);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-color: var(--border-color-accented) transparent;
}
:not(textarea) {
  scrollbar-width: thin;
}
