:root {
  --animate-rainbow-shine: rainbow-shine 2.4s linear infinite;
}

@keyframes rainbow-shine {
  0% {
    color: var(--color-primary-500);
  }
  20% {
    color: var(--color-error-500);
  }
  40% {
    color: var(--color-warning-500);
  }
  60% {
    color: var(--color-success-500);
  }
  80% {
    color: var(--color-info-500);
  }
  100% {
    color: var(--color-primary-500);
  }
}
